@use "../helpers" as *;

.card-preview {
    background-color: var(--color-gray-15);
    min-width: rem(600);
    max-width: rem(600);
    min-height: auto;
    max-height: auto;
    border-radius: var(--border-radius);
    margin-inline: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: var(--transition-duration);
    position: relative;
    @include mobile-small {
        min-width: 100%;
        border-radius: 0;
    }
    &__trophies {
        position: absolute;
        right: rem(6);
        top: rem(6);
        z-index: 10;
        width: rem(40);
        height: rem(40);
        pointer-events: none;
        &__star,
        &__crown,
        &__rocket {
            position: absolute;
            width: rem(40);
            height: rem(40);
            opacity: 0;
        }

        &__star {
            animation: scalePulse 6s ease-in-out infinite 0s;
        }
        &__crown {
            animation: scalePulse 6s ease-in-out infinite 2s;
        }
        &__rocket {
            animation: scalePulse 6s ease-in-out infinite 4s;
        }

        @keyframes scalePulse {
            0%,
            100% {
                transform: scale(0.8);
                opacity: 0;
            }
            30% {
                transform: scale(1.2);
                opacity: 1;
            }
            60% {
                transform: scale(1.2);
                opacity: 0;
                transform: scale(0.8);
            }
        }
    }

    &__statistics {
        display: flex;
        border-top: var(--border-1);
        padding-block: rem(10);
        column-gap: rem(14);
    }
    &__rating {
        display: flex;
        column-gap: rem(5);
        padding-inline: rem(6);
        border-left: rem(1) solid var(--color-gray-15);
    }

    &__statistics-link {
        background-color: var(--color-gray-30);
        padding: rem(6);
    }
    &__content {
        position: relative;
        padding-top: fluid(40,26);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: rem(20);
    }
    &__help-button {
        position: absolute;
        width: rem(22);
        height: rem(22);
        background-color: var(--color-gray-15);
        outline: rem(6) solid var(--color-gray-15);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: rem(-15);
        z-index: 20;
        background-image: url("../../images/test/totest/question-gray.svg");
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
            background-image: url("../../images/test/totest/question-accent.svg");
        }
    }
    &__share {
        overflow: hidden;
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: rem(10);
        padding-block: rem(20);
        @include mobile-small{
            margin-top: rem(0);
        }
        
    }
    &__start-button {
        z-index: 10;
        width: 100%;
        background-color: var(--color-gray-30);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        height: 100%;
        font-size: fluid(22, 16); 
        transition-duration: var(--transition-duration);
        &::before {
            content: "";
            background-image: url("../../images/test/totest/astronaut-yellow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 120%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        &::after {
            content: "";
            background-image: url("../../images/test/totest/rocket-yellow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: rem(90);
            height: 100%;
            transform: scale(1.2);
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        &:hover {
            background-color: var(--color-accent);
            color: var(--color-gray-5);
            &::before {
                background-image: url("../../images/test/totest/astronaut-black.svg");
                left: rem(2);
            }
            &::after {
                content: "";
                background-image: url("../../images/test/totest/rocket-black.svg");
            }
        }
        @include mobile-s {
            &::before {
                height: 90%;
            }
            &::after {
                width: rem(70);
                transform: scale(0.9);
            }
        }
    }
    &__totest {
        height: rem(70);
        @include mobile-small{
            height: rem(50);
        }
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info {
        display: flex;
        padding-inline: rem(20);
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: rem(12);
        padding-bottom: rem(30);
        &__title {
            font-weight: 600;
            @include mobile-small{
                font-size: rem(18);
            }
        }
        &__description {
            text-align: center;
            color: var(--color-gray-35);
        }
        @include mobile-small {
            padding-inline: rem(0);
        }
    }
    &__top {
        position: absolute;
        display: flex;
        background-color: var(--color-gray-30);
        justify-content: center;
        border-radius: rem(20);
        align-items: center;
        top: rem(-20);
        padding-inline: rem(4);
    }
    &__profile-link {
        display: flex;
        column-gap: rem(8);
        &__user-avatar {
            border-radius: 50%;
        }
        &__user-name {
            display: flex;
            align-items: center;
        }
    }
    &__bottom {
        padding-inline: rem(20);
        margin-top: auto;
    }
    &__img {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        max-height: rem(360);
        object-fit: cover;
        object-position: top;
        @include mobile-small {
            width: 100%;
            border-radius: 0;
        }
    }
}
